* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  margin: 0 36px;
}

gratar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

gratar > column[span="row"] {
  /*grid-column-start: 1;
  grid-column-end: -1;*/
  grid-column: 1 / -1;
}

gratar > column {
  overflow: hidden;
}

column[span="1"] {
  grid-column-end: span 1;
}

a[class^="disc-link_"] {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  display: block;
  position: relative;
}

a[class^="disc-link_"] > [class^="icon-"] {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

a[class^="disc-link_"] > [class^="icon-"]::before {
  font-size: 8vw;
}

.disc-link_onahau-dark {
  background-color: #cce4ff;
}
.disc-link_granny-apple {
  background-color: #daf5e2;
}
.disc-link_oasis {
  background-color: #fdebcf;
}
.disc-link_onahau-light {
  background-color: #ccf5ff;
}
.disc-link_blue-chalk {
  background-color: #f1deff;
}
.disc-link_pastel-pink {
  background-color: #ffccdb;
}
.disc-link_azalea {
  background-color: #fadbd8;
}
.disc-link_moon-raker {
  background-color: #dfddf9;
}
.disc-link_white-ice {
  background-color: #fadbd8;
}
.disc-link_janna {
  background-color: #f4e5d7;
}
.disc-link_double-pearl-lusta {
  background-color: #fcf3cf;
}

.main-title,
.second-title {
  margin: 0;
  text-align: center;
  color: #1a1a1a;
}

.main-title {
  font-size: 36px;
  height: 40px;
}
.second-title {
  height: 30px;
  font-size: 24px;
}

.section-title,
.section-subtitle {
  height: 30px;
  margin: 0;
  color: #808080;
}
.section-subtitle {
  font-size: 20px;
}
.section-title {
  font-size: 20px;
  color: #808080;
}
.skills-button_torch-red {
  background-color: #fd004d;
}
.skills-button_shamrock {
  background-color: #2dd070;
}
.skills-button_buttercup {
  background-color: #f29e1a;
}
.skills-button_torch-red,
.skills-button_shamrock,
.skills-button_buttercup {
  height: 40px;
  padding: 0 24px;
  border-radius: 20px;
  border: 0;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-right: 8px;
  margin-bottom: 8px;
}

.skills-legend {
  border: 2px solid #f0f0f0;
  list-style-type: none;
  padding-left: 0;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px 0;
}

.skills-legend_item:not(:last-child) {
  border-bottom: 2px solid #f0f0f0;
}

.skills-legend_item:hover {
  background-color: #fafafa;
}
.skills-legend_item > span[class^="icon-heart"] {
  color: #fe004e;
}
.skills-legend_item > span[class^="icon-trophy"] {
  color: #2dd070;
}
.skills-legend_item > span[class^="icon-book"] {
  color: #f29e1a;
}

.skills-legend_item > span[class^="icon-"] {
  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.skills-legend_item {
  height: 52px;
  line-height: 32px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.legend-count {
  padding-right: 20px;
}

.legend-description {
  padding: 0 10px;
  flex-grow: 1;
  flex-grow: 1;
}

.skills-list-last,
.skills-list {
  padding-top: 20px;
}
.skills-list {
  padding-bottom: 20px;
}

column[height="30"] {
  height: 30px;
}

.cutie-cu-umbra {
  background-color: #fafafa;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.descriere-text {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: #808080;
}

.button_attention {
  background-color: #fe004e;
  color: white;
  height: 40px;
  padding: 0 24px;
  border-radius: 20px;
  border: 0;
  font-size: 12px;
  font-weight: bold;
  font-size: 18px;
}

.button-disc__info {
  background-color: #2dd070;
  color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 0;
}

.text-centered {
  text-align: center;
}

.avatar {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #808080;
}

.image-wrapper {
  border-radius: 6px;
  padding: 8px 8px 4px;
  border: 1px solid #808080;
  margin-bottom: 10px;
}
